/* Buttons */

.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Time */
    transition-duration: 0.4s;
}
.custom {
    border: none;
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


/* Green */

.button#green {
    background-color:green;
    color: white ;
}
.active#green:hover {
    background-color:white;
    color: green;
}

/* Red */

.button#red {
    background-color:red;
    color: white;
}
.active#red:hover {
    background-color:white;
    color: red;
}
/* Blue */

.button#blue {
    background-color: blue;
    color: white;
}

.active#blue:hover {
    background-color: white;
    color: blue;
}

/* White */ 
.button#white {
    background-color: white;
    color: black;
}

.active#white:hover {
    background-color: black;
    color: white;
}

/* Black */

.button#black {
    background-color: black;
    color: white;
}

.active#black:hover {
    background-color: white;
    color: black;
}

/* Grey */

.button#grey {
    background-color: grey;
    color:white;
}

.active#grey:hover {
    background-color: white;
    color: grey;
}

/* Shadows */

.shadow:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#shadow {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

