:root {
    --accent-color: #333;
    --invert-accent-color: #cccccc;
}

/* Buttons */

.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Time */
    transition-duration: 0.4s;
}
.custom {
    border: none;
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


/* Green */

.button#green {
    background-color:green;
    color: white ;
}
.active#green:hover {
    background-color:white;
    color: green;
}

/* Red */

.button#red {
    background-color:red;
    color: white;
}
.active#red:hover {
    background-color:white;
    color: red;
}
/* Blue */

.button#blue {
    background-color: blue;
    color: white;
}

.active#blue:hover {
    background-color: white;
    color: blue;
}

/* White */ 
.button#white {
    background-color: white;
    color: black;
}

.active#white:hover {
    background-color: black;
    color: white;
}

/* Black */

.button#black {
    background-color: black;
    color: white;
}

.active#black:hover {
    background-color: white;
    color: black;
}

/* Grey */

.button#grey {
    background-color: #333;
    color:white;
}

.active#grey:hover {
    background-color: white;
    color: #333;
}

/* Shadows */

.shadow:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#shadow {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Social */

.button.social {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 30px;
    background-size: 30px;
    
    
}

.button.social#facebook {
    background-image: url('img/facebook.svg') !important;
}

.button.social#googleplus {
    background-image: url('img/googleplus.svg') !important;
}

.button.social#instagram {
    background-image: url('img/instagram.svg') !important;
}

.button.social#spotify {
    background-image: url('img/spotify.svg') !important;
}

.button.social#twitter {
    background-image: url('img/twitter.svg') !important;
}

.button.social#whatsapp {
    background-image: url('img/whatsapp.svg') !important;
}
.button.social#youtube {
    background-image: url('img/youtube.svg') !important;
}

.button.social.active:hover {
    filter: invert(100%);
    background-color: var(--invert-accent-color) !important;
}
